<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Password Change Page</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="/CSS/user-welcome.css">
<link rel="icon" type="image/x-icon" href="/assets/240_F_328494327_A2XpjDQp8f74FsQh7W7yof1tXU9ob3Sb.jpg">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- -----// font awsom ----- -->
<script src="https://kit.fontawesome.com/1f94a7e510.js" crossorigin="anonymous"></script>

<body>
    <!--header-->
    <%- include('../partials/userHeader') %>

        <main>

            <div class="container-fluid">
                <div class="row ">
                    <div class=" col-md-4 d-flex align-items-center justify-content-center px-md-5 m-auto py-5">
                        <div class="card p-4 py-5 bg-light shadow-lg">
                        <h2 class="text-dark fw-bold mt-1 mb-3">CHANGE PASSWORD</h3>
                        <form action="/userChangePassword" method="post" class="form-row fw-bold ">
                            <label for="password" class="form-group">Current Password</label>
                            <input type="password" id="password" name="password" class="form-control " required oninput="validatePassword()">
                            <p id="messagePwd" class="text-danger"></p>
                            <label for="new password" class="form-group">New Password</label>
                            <input type="password" id="password2" name="newpassword" class="form-control " required oninput="validateSecondUserPassword()">
                            <p id="messagePwd2" class="text-danger"></p>
                            <label for="confirmpassword" class="form-group">Confirm Password</label>
                            <input type="password"  id="confirm-password" name="confirmpassword" class="form-control" required oninput="checkPasswordMatch()">
                            <p id="messagePwdMatch" class="text-danger"></p>
                           
                            <div class="text-center py-2">
             
                                <input type="Submit" class="btn btn-sm btn-dark px-5 fa-beat">
                            </div>
                        </form>           
                    </div>
                </div>
            </div>

       
        </main>


<br>
<br>


        <!--footer-->

        <%- include('../partials/userFooterOffcanavas') %>

        <script src="/js/signup.js"></script>
</body>

</html>