<div class="container-fluid p-3 pt-4 foot bg-dark">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center text-left">
            <ul class="list-unstyled text-white">
                <li class="fw-bold">GET TO KNOW US</li>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Inquiry/Feedback</li>                   
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center text-left">
            <ul class="list-unstyled text-white">
                <li class="fw-bold">HELP</li>
                <li>Payments</li>
                <li>Shipping</li>
                <li>Cancelation & Return</li>
               
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center text-left">
            <ul class="list-unstyled text-white">
                <li class="fw-bold">CONSUMER POLICY</li>
                <li>Terms & Conditions</li>
                <li>Security</li>
                <li>Privacy Policy</li>                    
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center text-left ">
            <ul class="list-unstyled text-white pt-4">                    
                <i class="fa fa-twitter text-primary pe-3" style="font-size:36px"></i>
                <i class="fa fa-instagram pe-3" style="font-size:36px"></i>
                <i class="fa fa-facebook text-primary" style="font-size:36px"></i>                   
            </ul>
        </div>
    </div>
</div>
